body {
    background-color: #1f1f1f;

}

canvas {
    border: 10px solid transparent;    
    border-image-source: url("src/sprites/LADRILLO2.png");
    border-image-slice: 20;
    border-image-repeat: repeat;
    border-bottom: transparent;
    background-size: 20px 20px;
    background: url("src/sprites/ladrillo3.png");
    margin: 10px auto;
    display: block;
}